

#mainContainer {
  width: 80vw;
}

.reviewContainer {
  display: flex;
  justify-content: space-around;
  border: solid black 2px;
  width: 70vw;
  height: 100vh;
}

.reviewOverview {
  border: solid lightskyblue 2px;
}

.tile {
  border: solid lightcoral 2px;
}

.container {
  overflow-y: scroll;
}