

#mainContainer {
  width: 80vw;
}

.reviewContainer {
  display: flex;
  justify-content: space-around;
  border: solid black 2px;
  width: 90vw;
  /* height: 100vh; */
  background-color: #7395AE;
}

.reviewOverview {
  margin: 2% 0%;
  padding-left: 2%;
  border: solid lightskyblue 2px;
  width: 40vw;
}

.tile {
  border: solid lightcoral 2px;
  border-radius: 4px;
  width: 40vw;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  border: lightsalmon solid 2px;
  width: 50%;
  padding-left: 2%;
}

.header {
  font-weight: bold;
}

.helpfulbutton {
  background: none;
  border: none;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.star {
  display: flex;
}

/* Review Bars */


.barcontainer {
  width: 80%;
}


.basebar {
  /* display: inline; */
  height: 20;
  width: 100%;
  margin-left: 2%;
  margin-top: 6%;
  background-color: #e0e0de;
  border-radius: 50;
  /* margin: 50; */
}

.filledbar {
  /* display: inline; */
  height: 100%;
  border-radius: inherit;
  text-align: center;
}


/* Characteristics Bar */

.charbar {
  display: flex;
  width: 100%;
}

.bar {
  background-color: rgb(176, 176, 176);
  height: 20;
  width: 28%;
  margin: 1%;
}
.charkey {
  display: flex;
  justify-content: space-between;
  width: 81%;
  margin: 1%;
}

.bar span {
  color: black;
}

.tan {
  background-color: rgb(196, 166, 130);
}
