

#mainContainer {
  width: 80vw;
}

.reviewContainer {
  display: flex;
  justify-content: space-around;
  /* background-color: #A9A9A9; */
  /* border: solid black 2px; */
  /* border-radius: 5%; */
  width: 90vw;
  /* height: 100vh; */
  /* background-color: #7395AE; */
}

.reviewOverview {
  margin: 2% 0%;
  padding-left: 2%;
  /* border: solid lightskyblue 2px; */
  width: 40vw;
}

.tile {
  border: solid black 2px;
  border-radius: 2%;
  width: 40vw;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  /* border: lightsalmon solid 2px; */
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 2%;
}

.starRating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}

.starRating h3 {
  font-size: 25px;
}

.header {
  font-weight: bold;
}

.helpfulbutton {
  background: none;
  border: none;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.star {
  display: flex;
  margin-left: 2%;
}

/* Review Bars */


.barcontainer {
  width: 80%;
}


.basebar {
  /* display: inline; */
  height: 20;
  width: 100%;
  margin-left: 2%;
  margin-top: 6%;
  background-color: #e0e0de;
  border-radius: 50;
  /* margin: 50; */
}

.filledbar {
  /* display: inline; */
  height: 100%;
  border-radius: inherit;
  text-align: center;
}


/* Characteristics Bar */

.charbar {
  display: flex;
  width: 100%;
}

.bar {
  background-color: rgb(176, 176, 176);
  height: 20;
  width: 28%;
  margin: 1%;
}
.charkey {
  display: flex;
  justify-content: space-between;
  width: 81%;
  margin-bottom: 2%;
}

.bar span {
  color: black;
}

/* Other */

.tan {
  background-color: rgb(196, 166, 130);
}

form p {
  margin: 0%;
}

.Characteristics p {
  margin: 0%;
}

.breakdown p {
  text-align: center;
}

.breakdown {
  border:black solid 1px;
  border-radius: 5%;
  margin-right: 2%;
}

.reviewOverview h4 {
  margin: 0% 0% 4% 0%;
  text-align: center;
}

/* Star Submit */
input[name="rating"] {
  display: none;
}