/*
// Base Colors
Light Grey: #A9A9A9
Light Blue: #7395AE
// Accent Base Color
Tan: #B1A296
// Accent Colors
Dark Grey: #5D5C61
Dark Blue: #557A95
*/

.widget {
  display: flex;
  overflow: hidden ;
  background-color: #7395AE;
  justify-content: center;
}

.banner {
  background-color: #557A95;
  color: #95c5e7;
  font-size: xx-large;
  text-align: center;
  padding: 20px 0;
}