#related {
  position: absolute;
  /* z-index: 999; */
  font-size: large;
}

.app {
  height: 4em;
  width: 10em;
  background: lightblue;
  overflow: hidden;
}

.relatedproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.onerelated {
  border-style: solid;
  padding: 5px;
  align-self: stretch;
  background-color: silver;
  align-items: center;
  flex-grow: 1;
  /* flex: none; */
  flex-basis: 250px;
  overflow:auto;
  white-space: normal;
  align-content: center;
  justify-content: center;
  /* display: inline-block; */
  /* padding: 200px; */
}

#comparebutton {
  position: relative;
  bottom: 220px;
  left: 230px;
  z-index: 500;
  color: yellow;
  font-size: xx-large;
  background-color: rgba(0,0,0,0);
  border: none;
  text-shadow: black;
}

#productimage {
  border: solid;
  border-width: 1px;
}

.outfitproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.oneoutfit {
  justify-self: center;
  text-align: left;
  font-size: 18px;
  border-style: solid;
  padding: 5px;
  align-self: stretch;
  background-color: silver;
}

#scrollarrow {
  font-size:xx-large;
  background-color: rgba(0,0,0,0);
  border: none
}

#saleprice {
  color: red;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  background-color: rgb(255, 255, 255);
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(255, 255, 255);
}

td {
  text-align: center;
}


